@import '@/styles/_vars.scss';

.mainPage {
  margin-top: $pd-32;


  .content {
    display: flex;
    justify-content: space-between;
  }

  .articles {
    margin-right: $pd-32;
  }

  .profileAndSettings {
  }
}