@import "@/styles/_vars.scss";

.timer {
  margin-top: $pd-32;

  .wrapper {
    padding: $pd-16 $pd-32 $pd-32;
    background-color: $color-white;

  }

  .header {
    color: $color-black;
    font-size: 16px;
  }

  .time {
    margin-top: 35px;
  }
}