@import "./_vars.scss";
@mixin font-face($font-family, $font-weight, $font-style, $font-path) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: url($font-path) format('woff2');
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-ul-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin header-profile {
  cursor: pointer;
  padding: $pd-8 $pd-16;
  @include flex-justify;
  color: $color-black;
  font-size: 14px;
  background: $color-white;
}

@mixin profile-block {
  width: 264px;
  margin-top: $pd-32;
}

@mixin arrow {
  transition: transform .2s ease-in;
}

@mixin arrowInActive {
  transform: rotateX(180deg);
  transition: transform .2s ease-in;
}