$color-blue: #5095EC;
$color-black: #505050;
$color-second-tx: #8F8F8F;
$color-grey: #D3D8DE;
$color-bg: #F1F1F1;
$color-bg2: #FAFAFA;
$color-white: #FFFFFF;
$color-red: #E33939;
$color-green: #47B091;

$pd-8: 8px;
$pd-16: 16px;
$pd-32: 32px;
