@import '@/styles/_vars.scss';

.article, .articleClosed {
  background: $color-white;
  margin-bottom: $pd-32;
}

.article {
  max-height: 672px;
  transition: max-height .2s ease-in;


  .articleClosedContent {
    visibility: hidden;
    display: none;
  
  }

  >.wrapper {
    padding: 56px $pd-32 $pd-32;
  }
  .content {
    visibility: visible;
    opacity: 1;
    transition: visibility .2s ease, opacity .2s ease;
  }

  .image {
    max-height: 424px;
    width: 100%;
    margin-bottom: $pd-16;
  }

  .author {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $color-black;
    margin-bottom: $pd-16;

    img {
      margin-right: $pd-8;
    }

    span {
      color: $color-blue;
    }
  }

  .views {
    display: flex;
    align-items: center;


    &Item {
      display: flex;
      align-items: center;
      margin-right: $pd-32;
    }

    span {
      margin-left: $pd-8;
      display: block;
      color: $color-black;
      font-size: $pd-16;
    }
  }
}

.articleClosed {
  max-height: 56px;
  overflow: hidden;
  transition: max-height .2s ease-in;
  cursor: pointer;


  >.wrapper {
    padding: 17px $pd-32;
  }

  .articleClosedContent {
    visibility: visible;
    display: flex;
    justify-content: space-between;

    >.title, .time {
      color: $color-black;
      font-size: $pd-16;
      display: flex;
      align-items: center;
    }

    >.time {
      img {
        margin-right: $pd-8;
      }

      >.showMore {
        margin-left: $pd-16;
      }
    }

  }

  .content {
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s ease, opacity .2s ease;
  }
}

@media (max-width: 777px) {
  .article, articleClosed {
    >.wrapper {
      padding: 17px;
    }
  }

  .articleClosed {
    max-height: 80px;
  }
}