@import "@/styles/_vars.scss";

.map {
  margin-top: $pd-32;

  .wrapper {
    padding: $pd-16 $pd-32;
    background: $color-white;
    position: relative;
  }
  .header {
    margin-bottom: 19px;

    span {
      color: $color-black;
      font-size: 16px;
    }
  }
}