@import "@/styles/_mixins.scss";
@import "@/styles/_vars.scss";

.header {
  background: $color-white;
  min-height: 64px;
  width: 100%;
  padding: 8px 0;

  .wrapper {
    @include flex-justify;
  }

  .headerUserPages {
    @include flex-justify;
    img {
      margin-right: 8px;
    }
    span {
      font-weight: 500;
    }
  }

  .headerStatistic {

  }
}