@import "@/styles/_vars.scss";
@import "@/styles/_mixins.scss";

.profileNavigation {
  @include profile-block;

  >.header {
   @include header-profile;

    >span {
      display: block;
      font-weight: 500;
    }
  }

  .itemsWrapper {
    background: $color-white;
    transition: visibility .2s ease-in, opacity .2s ease-in;
    opacity: 1;
    visibility: visible;
  }

  .itemsClosedWrapper {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility .2s ease-in, opacity .2s ease-in;
  }

  .arrow {
    @include arrow
  }

  .arrowInActive {
    @include arrowInActive
  }

  .items {
    border-top: 2px solid  $color-grey;
  }

  .wrapper {
    padding: $pd-16 $pd-16 0.1px;
  }
}